---
  date: 24/01/2018
  tags: team
---

<%= image_tag("team/ddiaz-thumbnail.jpg", :alt => "Diego",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Diego Diaz Matousek</h3>

  <div class="person-links">
    <a href="https://www.linkedin.com/in/diegobdiaz" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="http://www.github.com/berithpy" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
    <a href="https://twitter.com/berithm" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Diego is a software developer that has been into computers and technology for as long as he remembers.
      He enjoys developing web applications in Python and Javascript and has also been working with cloud hosted containers with kubernetes.
    </p>
    <p>
      He is into IOT and hopes someday everything is connected.
    </p>
    <p>
      In his free time he participates regularly in Game Jam (Gamedev hackathons), cooks, plays the bass, games and runs a tiny 3D printing company.
    </p>
  </div>
</div>