---
  date: 01/12/2014
  tags: team
---

<%= image_tag("team/emi-thumbnail.jpg", :alt => "Emiliano",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Emiliano Javier Borghi Orué</h3>

  <div class="person-links">
    <a href="https://www.linkedin.com/in/e-borghiorue/" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://github.com/eborghi10/" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Emiliano is an Electronics Engineer from the National Technological University - Haedo Regional Faculty. He is passionate about robotics, control and artificial intelligence, and applies his free time to projects related to those topics. He enjoys simulation and making homemade robots such as hexapods or ones using differential-drives.
    </p>
    <p>
      Besides that, he plays goalie on a local soccer team, enjoys learning new languages, and volunteers time to help the children of Barrio Almafuerte in San Justo, Buenos Aires with their homework and playing games.
    </p>
  </div>
</div>
