.team .content .person-container {
  margin: 30px 0;
}
.team .content .person-container .person-name {
  margin-top: 7.5px;
}
.team .content .person-container .person-bio {
  font-size: 14px;
  word-break: break-word;
  display: block;
  /* For screen larger than 768px */
}
@media (min-width: 768px) {
  .team .content .person-container .person-bio {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.team .content .person-container .person-picture {
  margin-right: 30px;
  width: 200px;
}
